body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.captcha {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#captchaInput {
  flex: 1;
  padding: 5px;
}
#captchaImage {
    cursor: pointer;
    margin-left: 10px;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
  }